* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 99%;
    background-color: rgb(29, 29, 78)
}
.pai {
    height: 96vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 900px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
}